@font-face {
    font-family: PTSerif-Bold;
    src: url(../fonts/PTSerif_bold.ttf);
    font-style: bold;
}

@font-face {
    font-family: PTSerif-Regular;
    src: url(../fonts/PTSerif_regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: PTSans-Bold;
    src: url(../fonts/PTSans_bold.ttf);
    font-style: bold;
}

@font-face {
    font-family: PTSans-Regular;
    src: url(../fonts/PTSans_regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: PTSans-Italic;
    src: url(../fonts/PTSans_italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: FontAwesome;
    src: url(../fonts/FontAwesome.otf);
    font-style: normal;
}

@font-face {
    font-family: Lato-Regular;
    src: url(../fonts/Lato_regular.ttf);
    font-style: normal;
}


body {
    margin: 0;
}

mark {
    background: none;
    color: #ff6633;
}

h2 {
    font-family: PTSerif-Bold;
    font-size: 26px;
    color: #3b3b3b;
    text-align: center;
}

h3 {
    font-family: PTSerif-Bold;
    font-size: 22px;
    color: #3b3b3b;
    text-align: center;
}

/*------PlaceHolder------*/

::-webkit-input-placeholder {
    margin-left: 20px;
    font-family: Lato-Regular;
    font-size: 14px;
    color: #555555;
    cursor: text;
}

::-moz-placeholder {
    font-family: Lato-Regular;
    font-size: 14px;
    color: #555555;
    cursor: text;
}

:-moz-placeholder {
    font-family: Lato-Regular;
    font-size: 14px;
    color: #555555;
    cursor: text;
}

:-ms-input-placeholder {
    font-family: Lato-Regular;
    font-size: 14px;
    color: #555555;
    cursor: text;
}

input:focus::-webkit-input-placeholder {opacity: 0;}
input:focus::-moz-placeholder {opacity: 0;}
input:focus:-moz-placeholder {opacity: 0;}
input:focus:-ms-input-placeholder {opacity: 0;}

.page {

}

.visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

/*------Header------*/

.header {
    width: 100%;
    height: 700px;
    background-image: url(../image/Restaurant_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header:after {
    content: "";
    height: inherit;
    background-color: #000000;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.header-top-panel {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    height: 130px;
    width: 950px;
    position: relative;
    z-index: 2;
}

.logotype {
    width: 90px;
    height: 30px;
}

.logotype a {
    font-family: PTSerif-Bold, sans-serif;
    font-size: 36px;
    text-decoration: none;
    color: #ff6633;
}

/*------Main Menu------*/

.menu-list {
    display: flex;
    list-style-type: none;
}

.menu-list-item {
    margin-left: 35px;
    width: 120px;
    font-family: PTSerif-Bold;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
}

.menu-list-item:first-child {
    margin-left: 0;
}

.menu-list-item a:hover + div {
    opacity: 1;
}

.menu-list-item a:hover {
    color: #ff6633;
}

.menu-list-item a {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}

.menu-list-item div {
    margin-top: 20px;
    text-transform: none;
    font-family: PTSans-Italic;
    font-size: 13px;
    font-style: italic;
    transition: opacity 0.5s ease-out 0s;
    -webkit-transition: opacity 0.5s ease-out 0s;
    -moz-transition: opacity 0.5s ease-out 0s;
    -o-transition: opacity 0.5s ease-out 0s;
    cursor: default;
    opacity: 0;
}

/*------Header Description------*/

.header-description {
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    text-align: center;
    color: #ffffff;
    position: relative;
    z-index: 2;
}

.header-description h1 {
    margin-bottom: 0;
    font-family: PTSerif-Bold;
    font-size: 52px;
    text-transform: uppercase;
}

.header-description span {
    font-family: PTSerif-Regular;
    font-size: 36px;
}

.buttons-container {
    margin-top: 40px;
}

.buttons-container button:first-child {
    margin-right: 20px;
}

.button-orange {
    width: 160px;
    height: 50px;
    background-color: #ff6633;
    color: #ffffff;
    font-family: PTSans-Bold;
    font-size: 13px;
    text-align: center;
    border: 1px solid #ff6633;
    border-radius: 5px;
    text-transform: uppercase;
}

.button-orange:hover {
    cursor: pointer;
}

.find-table-button {
    width: 160px;
    height: 50px;
    position: relative;
    background: none;
    border: none;
    text-transform: uppercase;
}

.find-table-button:before {
    content: "";
    display: block;
    width: 160px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    opacity: 0.7;
}

.find-table-button:hover {
    cursor: pointer;
}

.find-table-button span {
    opacity: 1;
    font-family: PtSans-Bold;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.scroll-down {
    margin-top: 135px;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    position: relative;
    z-index: 2;
}

.scroll-down p {
    margin-bottom: 5px;
    font-family: PTSans-Regular;
    color: #ffffff;
    text-align: center;
}

.scroll-down-button {
    display: block;
    margin: auto;
    width: 20px;
    height: 20px;
    font-family: FontAwesome;
    color: #ffffff;
    text-align: center;
    font-size: 22px;
}

/*------Main------*/

.main section:nth-child(2n+1) {
    background-color: #f7f7f7;
}

.main section:nth-child(2n) {
    background-color: #ffffff;
}

/*------About------*/

.about {
    box-sizing: border-box;
    padding-top: 120px;
    padding-bottom: 120px;
    width: 100%;
    height: 990px;
}

.about-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
    height: 750px;
}

.about-content {
    width: 440px;
    min-height: 280px;
}

.about-content p {
    margin-bottom: 30px;
    font-family: PTSans-Regular;
    font-size: 16px;
    color: #4b4b4b;
    line-height: 24px;
}

.about-content .read-more-button {
    margin-left: 280px;
}

.wine-image {
    width: 630px;
    height: 490px;
    position: absolute;
    top: -50px;
    right: 0;
    background-image: url(../image/Dining_wine_1.jpg);
}

.chef-image {
    width: 535px;
    height: 360px;
    position: absolute;
    top: 380px;
    left: 0;
    background-image: url(../image/Dinner_1.jpg);
    background-size: cover;
}

.kitchen-image {
    width: 285px;
    height: 225px;
    position: absolute;
    top: 515px;
    right: 270px;
    background-image: url(../image/Pizza.jpg);
    background-position: center center;
    background-size: cover;
}

.meat-image {
    width: 240px;
    height: 225px;
    position: absolute;
    top: 515px;
    right: 0;
    background-image: url(../image/Dinner_2.jpg);
    background-position: center center;
    background-size: cover;
}

/*------Menu Restaurant------*/

.menu-restaurant {
    box-sizing: border-box;
    padding-top: 120px;
    padding-bottom: 120px;
    width: 100%;
    height: 695px;
}

.menu-restaurant-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 930px;
}

.menu-restaurant-content {
    width: 430px;
    min-height: 340px;
    max-height: 480px;
    flex-shrink: 0;
}

.menu-restaurant-content p {
    margin-bottom: 40px;
    font-family: PTSans-Regular;
    font-size: 16px;
    color: #3b3b3b;
    line-height: 24px;
}

.view-menu-button {
    margin-left: 270px;
}

.menu-restaurant-images {
    display: flex;
    flex-wrap: wrap;
}

.meat-1 {
    width: 210px;
    height: 215px;
    background-image: url(../image/Kitchen_2.jpg);
    background-position: center center;
    background-size: cover;
}

.meat-2 {
    margin-left: 30px;
    width: 210px;
    height: 215px;
    background-image: url(../image/Meat_3.jpg);
    background-position: center center;
    background-size: cover;
}

.cakes {
    margin-top: 30px;
    width: 455px;
    height: 215px;
    background-image: url(../image/Cakes.jpg);
    background-position: center -60px;
    background-size: cover;
}

/*------Reservation Section------*/

.reservation {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-top: 120px;
    padding-bottom: 120px;
    width: 100%;
    height: 845px;
}

.reservation-block {
    box-sizing: border-box;
    width: 455px;
    height: 600px;
    background-color: #ffffff;

    box-shadow:0px 6px 18px 0px rgba(57,50,50,0.31);
    -webkit-box-shadow:0px 6px 18px 0px rgba(57,50,50,0.31);
    -moz-box-shadow:0px 6px 18px 0px rgba(57,50,50,0.31);
}

.reservation-block:first-child {
    margin-right: 30px;
}

/*------Reservation Container------*/

.reservation-container {
    padding: 70px;
}

.reservation-form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.reservation-form input {
    margin-bottom: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    width: 310px;
    height: 50px;
    background-color: #f7f7f7;
    border: 1px solid #e5e4e4;
    border-radius: 3px;
}

.reservation-form input:focus + label {
    display: none;
}

.reservation-field-block {
    position: relative;
}

.reservation-button {
    margin-top: 10px;
    width: 310px;
    height: 50px;
    font-family: PTSans-Bold;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    background-color: #222222;
    border: 1px solid #222222;
    border-radius: 3px;
    text-transform: uppercase;
}

/*------Events Container------*/

.upcoming-events-container {
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.reservation .upcoming-events-container section {
    background-color: #ffffff;
}

.event {
    display: flex;
}

.event:nth-child(n+1) {
    margin-top: 20px;
}

.event-image {
    margin-top: 10px;
    margin-right: 20px;
    width: 80px;
    height: 80px;
}

.event-image-previw {
    width: 80px;
    height: 80px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.info-header h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: PTSerif-Bold;
    font-size: 16px;
    color: #ff6633;
}

.event-info .info-header span {
    font-family: PTSans-Bold;
    font-size: 12px;
    color: #3b3b3b;
}

.event-info p {
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: PTSans-Regular;
    font-size: 14px;
    color: #3b3b3b;
    line-height: 20px;
}

.event-info span {
    font-family: PTSans-Italic;
    font-size: 14px;
    color: #ff6633;
}

/*------Pre-Footer------*/

.pre-footer {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    height: 420px;
}

.book-a-table {
    width: 300px;
    height: 200px;
}

.book-a-table p {
    font-family: PTSans-Regular;
    font-size: 16px;
    color: #5b5b5b;
    line-height: 24px;
    text-align: center;
}

.book-a-table button {
    margin-left: 70px;
}

.separator {
    margin-left: 70px;
    margin-right: 70px;
    position: relative;
    width: 40px;
    height: 200px;
}

.separator-text-block {
    margin-top: 85px;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    height: 30px;
}

.separator-text-block::before {
    content: "";
    display: block;
    height: 65px;
    position: absolute;
    top: 10px;
    left: 20px;
    border-right: 1px solid #9a9999;
    box-shadow: 0 1px 1px 0 rgba(51, 45, 45, 0.274);
}

.separator-text-block::after {
    content: "";
    display: block;
    height: 65px;
    position: absolute;
    left: 20px;
    bottom: 10px;
    border-right: 1px solid #9a9999;
    box-shadow: 0 1px 1px 0 rgba(51, 45, 45, 0.274);
}

.separator-text {
    font-family: Lato-Regular;
    font-size: 24px;
    color: #9a9999;
}

.tell-your-friends-conteiner {
    width: 300px;
    height: 200px;
}

.tell-your-friends-conteiner p {
    font-family: PTSans-Regular;
    font-size: 16px;
    color: #5b5b5b;
    line-height: 24px;
    text-align: center;
}

.share-block {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 30px;
    text-align: center;
}

.share-block button {
    width: 60px;
    height: 20px;
    font-family: Myriad Pro;
    font-size: 11px;
    color: #ffffff;
    vertical-align: middle;
}

.share-button-facebook {
    
    background-color: #3e59a5;
    border: 1px solid #3e59a5;
    border-radius: 3px;
}

.share-button-tweeter {
    background-color: #1b95e0;
    border: 1px solid #1b95e0;
    border-radius: 3px;
}

/*------Footer------*/

.footer {
    box-sizing: border-box;
    padding: 50px 0;
    width: 100%;
    height: 300px;
    background-color: #222222;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 920px;
    min-height: 190px;
}

/*------Header Logotype------*/

.logotype {
    width: 90px;
    height: 30px;
    font-family: PTSerif-Bold, sans-serif;
    font-size: 36px;
    color: #ff6633;
}

/*------Navigation Menu------*/

.navigation {
    width: 130px;
}

.navigation span {
    font-family: PTSerif-Bold;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
}

.navigation-list {
    padding-left: 0;
    font-family: PTSans-Regular;
    font-size: 13px;
    color: #ffffff;
    list-style-type: none;
    text-transform: uppercase;
}

.navigation-list-item:nth-child(n+1) {
    margin-top: 15px;
}

.navigation-list-item a {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}

/*------Us Block------*/

.us {
    width: 280px;
}

.visit-us-head {
    font-family: PTSerif-Bold;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
}

.visit-us p {
    font-family: PTSans-Regular;
    font-size: 14px;
    color: #ffffff;
    line-height: 21px;
}

.visit-us p a {
    font-family: inherit;
    color: #ff6633;
    text-decoration: none;
}

.connect-us-head {
    font-family: PTSerif-Bold;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
}

.connect-button-container {
    display: flex;
    margin-top: 20px;
    flex-shrink: 0;
    vertical-align: bottom;
}

.connect-button-container a {
    padding: 5px;
    font-family: FontAwesome;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.connect-button-container a:nth-child(n+2) {
    margin-left: 20px;
}